body{
    width: 90%;
    margin: auto;
    background-color:  darkblue;
}

.mainHeader{
    height: 20%;
    border: gray 3px solid;
    margin: 5%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;

}

.headerH3{
    grid-column: 1/2;
    font-size: 25px;
    color: white;
}

.headerScore{
    grid-column: 3/4;
    background-color: wheat;
    display: grid;
    grid-template-rows: 20% 80%;
    border-radius: 10px;
}

.headerP{
    grid-row: 1/2;
    margin: auto;
    padding-top: 5px;
    color: darkblue;
    font-weight: 600;
}

.headerScoreScore{
    grid-row: 2/3;
    font-size: 70px;
    margin: auto;
}

.mainH1{
    text-align: center;
    color: white;
}

.buttonDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr; */
    height: 80%;
    background-image: url(/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    margin-bottom: 20%;
    margin-top: 10%;
    
}

.img1{
    grid-column: 1/2;
    /* grid-column: 1/2; */
    margin: auto;
    border: hsl(230, 89%, 62%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}

.img2{
    grid-column: 2/3;
    /* grid-column: 2/3; */
    margin: auto;
    border: hsl(39, 89%, 49%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}

.img3{
    grid-column: 3/4;
    /* grid-column: 2/3; */
    /* margin-right: 250%; */
    /* margin-top: 25%;
    border: hsl(349, 71%, 52%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
    width: 80px;
    height: 80px;
    margin: auto; */
    margin: auto;
    border: hsl(349, 71%, 52%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}


.rules{
    width: 40%;
    height: 40px;
    margin-bottom: 10%;
    margin-left: 32%;
    margin-top: 10%;
    /* display: ; */
}

#battleArena{
    display: none;
    color: white;
    text-align: center;
    
}

.picks{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.yourPicks{
    grid-column: 1/2;
}

.theirPicks{
    grid-column: 2/3;
}
.theirPickArenaImg1{
    border: hsl(230, 89%, 62%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}
.theirPickArenaImg2{
    border:hsl(39, 89%, 49%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}
.theirPickArenaImg3{
    border: hsl(349, 71%, 52%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}
.yourPickArenaImg3{
    border: hsl(349, 71%, 52%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}
.yourPickArenaImg1{
    border:  hsl(230, 89%, 62%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}
.yourPickArenaImg2{
    border: hsl(39, 89%, 49%) solid 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: wheat;
}

.rulesDiv{
    display: none;
}

.rulesImg{
    margin-left: 27%;
    color: white;
    width: 50%;
}

.rulesTitle{
    margin-left:48%;
    color: white;
}
.rulesClose{
    margin-top: 10%;
    /* margin-right: 5%; */
    margin-left: 48%;
    /* margin: auto; */
    height:30px;
    width: 60px;
}
.playAgain{
    margin-left: 42%;
}